* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading_0002 {
    background-color: rgb(48, 38, 38);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-shadow: 1px 1px 2px white;
}